<div class="app">
    <div class="actionbar">
        <ng-container *ngIf="selectedTasks.length>0;then content; else text"></ng-container>
        <ng-template #content>
            <button (click)="remove()">Supprimer</button>
            <button *ngIf="selectedTasks.length==1" (click)="modify()">Modifier</button>
            <button (click)="cancel()">Annuler</button>
        </ng-template>
        <ng-template #text>
            ToutouList
        </ng-template>
    </div>
    <app-modify-task *ngIf="modifiedTask!==undefined" [oldTask]=(modifiedTask) [dismiss]=(cancel)></app-modify-task>


    <div class="taskslist" *ngIf="tasks.length>0">
        <app-task *ngFor="let task of tasks;index as i;" [task]=(task) [appSelect]=(select)></app-task>
    </div>
    <div class="defaultTask" *ngIf="tasks.length==0">
        <app-task [task]=(emptyTask) [appSelect]=(select)></app-task>
    </div>
    <div class="addbar" (keyup.enter)="add()">
        <button (click)="add()">
          <fa-icon class="plusIcon" [icon]="plusIcon"></fa-icon>
          <fa-icon class="circleIcon" [icon]="circleIcon"></fa-icon>
        </button>
        <input class="addInput" type="text" [(ngModel)]="inputData">
    </div>
</div>